@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Readex Pro', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: #6B705C !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
